// Bundle
@import "stylesheets/bootstrap";
@import "stylesheets/core";

// Standard
:root {
  --bs-font-monospace: "Roboto Mono",SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --border-color: #e0e0e0;
  --border-color-dark: #d5d5d5;
  --bg-light: #e8e8e8;
  --font-size-sm: 13px;
  --font-size-md: 15px;
}
html {
  background: #f7f7f7;
  // background: url(/assets/core/img/page-back.jpg) fixed top / cover no-repeat #f7f7f7;
  font: 15px/1.5 var(--bs-font-sans-serif);
  &:focus-within { scroll-behavior: smooth; }
}
body {
  min-height: 100%;
  background-color: transparent;
  font: inherit;
  text-underline-offset: .05rem;
  text-underline-position: under;
  text-rendering: optimizeSpeed;
}
a {
  color: #06f;
  text-decoration: none;
}
a:not([class]), .link-decoration {
  text-decoration: 1px dotted underline #17e;
}
a:not([class]):hover, .link-decoration:hover {
  color: #004;
  text-decoration: none;
}
img, picture {
  display: block;
  max-width: 100%;
}
input {
  &:-webkit-autofill::first-line {
    font-family: var(--bs-font-sans-serif) !important;
    font-size: .875rem !important;
  }
}

// Page
.page-header {
  height: 50px;
  padding: 0 2.5vw;
  background: #444;
}
.page-navi {
  gap: min(.5rem, .5vw);
  height: 50px;
  padding: 0 2vw;
  overflow-x: auto;
  border-bottom: 1px solid var(--border-color-dark);
  background: var(--bg-light);
  .nav-link:hover:not(.active) {
    color: #70d !important;
    text-decoration: underline 1px #95e;
  }
  .nav-link.active {
    color: #000;
    text-decoration: underline 1px #666;
  }
}
.page-body {
  max-width: 1140px;
  margin-top: 2rem;
}
.main-menu:empty,
.main-side:empty {
  display: none;
}
.page-footer {
  max-width: 1140px;
  min-height: 8rem;
  margin: 50px auto 0;
  border-top: 1px solid var(--border-color-dark);
}

// Main
.page-main-footer {
  &.position-fixed {
    bottom: 0;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    border-top: 1px solid var(--border-color-dark);
    background: rgba(240, 240, 240, .75);
  }
  .pagination { margin: 0; }
}

// Article, Section
.page-article, .page-section {
  margin-bottom: 1rem;
  border: 1px solid var(--border-color);
  background: #fff;
  &:last-child() {
    margin-bottom: 0;
  }
}
.page-article {
  // box-shadow: 1px 1px 2px rgba(0,0,0,.1);
  .page-article-header, .page-article-body {
    padding: min(1.5rem, 2.5vw);
  }
  .page-article-header {
    border-bottom: 1px solid var(--border-color);
    background: url("/assets/core/img/neko_oyako.png") right 0 top 0 / contain no-repeat;
  }
  .page-article-title {
    margin: 0;
    font-size: 1.5rem;
  }
}
.page-section {
  .page-section-header, .page-section-body {
    padding: min(1rem, 2.5vw) min(1.5rem, 2.5vw);
  }
  .page-section-header {
    border-bottom: 1px solid var(--border-color);
  }
  .page-section-title {
    margin: 0;
    font-size: 1rem;
  }
}

// Core DB
.core-db-navi {
  z-index: 1030;
  top: 0;
  gap: .25rem;
  width: 100%;
  height: 50px;
  padding: 0 1rem;
  border-bottom: 1px solid var(--border-color-dark);
  background: var(--bg-light);
  .dropdown-menu {
    font-size: var(--font-size-sm);
  }
  .search {
    align-self: flex-start;
    margin: 10px 2px 2px;
  }
}
.core-db-main {
  padding: 50px 0 80px;
}
