// Bundle
@import "stylesheets/bootstrap";
@import "stylesheets/core";
@import "stylesheets/table";

// Standard
:root {
  --bs-font-monospace: "Roboto Mono",SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --margin-md: 1.25rem;
  --padding-md: min(1.25rem, 2.5vw);
  --border-color-gray1: #d6d8da;
  --border-color-gray2: #d4d6d8;
  --back-color-white: #fff;
  --back-color-white-hover: #fcfcfc;
  --back-color-gray1: #f8f9fb;
  --back-color-gray2: #f0f2f4;
  --back-color-gray2-hover: #e7e8e9;
  --back-color-header: #404246;
  --text-color-link: #06e;
  --font-size-sm: 13px;
  --font-size-md: 15px;
}
html {
  background: #fdfdfd;
  font: 15px/1.5 var(--bs-font-sans-serif);
  &:focus-within { scroll-behavior: smooth; }
}
body {
  min-height: 100%;
  background-color: transparent;
  font: inherit;
  text-underline-offset: -.15rem;
  text-underline-position: under;
  text-rendering: optimizeSpeed;
}
h1, h2, h3, h4, h5, h6, dl, ol, ul {
  margin: 0;
}
a {
  color: var(--text-color-link);
  text-decoration: none;
}
a:not([class]):hover, .link:hover {
  color: var(--text-color-link);
  text-decoration: 1px solid underline currentColor;
}
.unlink {
  cursor: auto;
}
img, picture {
  display: block;
  max-width: 100%;
}
input {
  &:-webkit-autofill::first-line {
    font-family: var(--bs-font-sans-serif) !important;
    font-size: .875rem !important;
  }
}

// Page
.page-header {
  height: 50px;
  padding: 0 2.5vw;
  background: var(--back-color-header);
}
.page-navi {
  gap: min(.5rem, .5vw);
  height: 50px;
  padding: 0 2vw;
  overflow-x: auto;
  border-bottom: 1px solid var(--border-color-gray2);
  background: var(--back-color-gray2);
  .nav-link.active {
    color: #70d !important;
  }
  .nav-link:hover:not(.active) {
    color: #000;
    text-decoration: underline;
  }
}
.page-body {
  max-width: 1140px;
  &::before, &::after {
    content: "";
    display: block;
    margin-top: var(--padding-md);
  }
}
.page-footer {
  max-width: 1140px;
  min-height: 8rem;
  margin: 40px auto 0;
  border-top: 1px solid var(--border-color-gray2);
}

// Main
.main-menu:empty,
.main-side:empty {
  display: none;
}
.main-footer {
  &.footer-fixed {
    display: flex !important;
    position: fixed !important;
    z-index: 1;
    bottom: 0;
    align-items: center !important;
    justify-content: center !important;
    gap: 1rem;
    width: 100%;
    height: 70px;
    border-top: 1px solid var(--border-color-gray2);
    background: rgba(240, 240, 240, .75);
  }
}

// Article, Section
.article,
.section {
  margin-top: var(--margin-md);
  border: 1px solid var(--border-color-gray1);
  background: var(--back-color-white);
}
.article-header,
.section-header {
  padding: var(--padding-md);
  border-bottom: 1px solid var(--border-color-gray1);
  // background: url("/assets/core/img/neko_oyako.png") right 0 top 0 / contain no-repeat;
}
.article-body,
.section-body {
  padding: 0 var(--padding-md);
  &::before, &::after {
    content: "";
    display: block;
    margin-top: var(--padding-md);
  }
}
.article-title {
  margin: 0;
  font-size: 1.5rem;
}
.section-title {
  margin: 0;
  font-size: 1rem;
}

// Core DB
.core-db-navi {
  z-index: 1030;
  top: 0;
  gap: .25rem;
  width: 100%;
  height: 50px;
  padding: 0 1rem;
  // border-bottom: 1px solid var(--border-color-gray2);
  background: var(--back-color-gray2);
  .dropdown-menu {
    font-size: var(--font-size-sm);
  }
  .search {
    align-self: flex-start;
    margin: 10px 2px 2px;
  }
}
.core-db-main {
  padding: 50px 0 80px;
}
