/* Core */

// Loading Spinner
.core-loading {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(244, 244, 244, .3);
  .spinner-border {
    width: 5rem;
    height: 5rem;
  }
}

// Form
.sub-form {
  padding: 1.5rem !important;
  border: 1px solid var(--border-gray1-color);
  background-color: var(--back-gray1-color);
}
