/* Table */

// Data table
.data-table {
  width: max-content;
  height: 100%;
  font-size: var(--font-size-sm);
  > :not(caption) > * > * {
    padding: .4rem .5rem;
    font-weight: 400;
    vertical-align: top;
  }
  > :not(caption) > * > th {
    border: 1px solid var(--border-color-gray2);
    background: var(--back-color-gray2);
  }
  > :not(caption) > * > td {
    border: 1px solid var(--border-color-gray1);
    background: var(--back-color-white);
  }
  > :not(caption) > :last-child > * {
    border-bottom-color: var(--border-color-gray2);
  }
  > :not(caption) > * > :first-child {
    border-left-color: var(--border-color-gray2);
  }
  > :not(caption) > * > :last-child {
    border-right-color: var(--border-color-gray2);
  }
  > :not(caption) > .js-link-row:hover > th {
    background: var(--back-color-gray2-hover);
  }
  > :not(caption) > .js-link-row:hover > td {
    background: var(--back-color-white-hover);
  }
  .th-icon, .td-icon {
    width: 34px;
    height: 100%;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    .link-expand {
      cursor: pointer;
    }
    .form-check-input {
      margin-top: .05rem;
      font-size: 1rem;
      cursor: pointer;
    }
  }
}

// Table - sticky
.data-table.table-sticky {
  border-spacing: 0;
  border-collapse: separate;
  > :not(caption) > * > * {
    border-width: 0 1px 1px 0;
  }
  > :not(caption) > * > .sticky-start {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
  }
  > :not(caption):first-child > * > * {
    border-top-width: 1px;
  }
  > :not(caption) > * > .sticky-start:first-child {
    width: 35px;
    border-left-width: 1px;
  }
  > :not(caption) > * > .sticky-start:nth-child(2) {
    left: 35px;
  }
  > thead > * > th {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1000;
    top: 50px;
  }
  > thead > * > .sticky-start {
    z-index: 1001;
  }
}

// Table - db
.data-table.table-db {
  .db-value {
    color: #092;
    &.db-type-string {
      color: inherit;
    }
    &.db-type-null {
      color: #999;
    }
    &.db-type-bool {
      color: #555;
    }
    &.db-type-int,
    &.db-type-double,
    &.db-type-float,
    &.db-type-decimal128 {
      color: #05e;
      text-align: right;
    }
    &.db-type-array,
    &.db-type-hash {
      color: #b44;
      &.text-break { font-family: var(--bs-font-monospace); }
    }
  }
  .pre-value {
    max-height: 12rem;
    margin: 0;
    font: inherit;
    white-space: pre-wrap;
  }
  .js-clipboard-copy {
    margin-left: .5rem;
  }
  .input-json {
    width: calc(100vw - 85px);
    height: calc(100vh - 178px);
    padding: .5rem;
    line-height: 1.2;
  }
}
